[submodule "estimator/third_party/duster"]
	path = estimator/third_party/duster
	url = https://github.com/gogojjh/dust3r
[submodule "estimator/third_party/mast3r"]
	path = estimator/third_party/mast3r
	url = https://github.com/gogojjh/mast3r
[submodule "estimator/third_party/Hierarchical-Localization"]
	path = estimator/third_party/Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization.git
[submodule "estimator/third_party/reloc3r"]
	path = estimator/third_party/reloc3r
	url = https://github.com/ffrivera0/reloc3r
